html {
  font-family: sans-serif;
}

/* Your CSS below here */
/* Centering the box horizontally */
.red {
    width: 50%;
    height: auto;
    margin: 40px auto; /* Centers the box horizontally */
    padding: 20px;
    background-color: #db349b;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 15px;
    border: 1px solid #b929af;
    box-shadow:10px 7px 17px rgba(0, 0, 0, 0.5), -5px -5px 15px rgba(181, 18, 176, 0.3);
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -5px -5px 15px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2) 100%);
    display: block;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:#1ea0b1;
