/* General styles */
body {
    font-family: Arial, sans-serif;
}

/* Styling the H1 heading */
h1 {
    color: hotpink;
    border-bottom: 10px dotted purple;
    text-align: center;
}

/* Styling the H2 headings */
h2 {
    font-style: italic;
}

/* Styling the contact list */
ul {
    background-color: #eeeeee;
    border: 5px solid purple;
    padding: 10px;
    list-style-type: none;
}

/* Link styling */
a {
    text-decoration: underline;
    color: blue;
}

a:hover {
    color: green;
    text-decoration: none;
}
